#headerh1 {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
#footeraddress {
    text-align:center;
}
#footerphone {
    text-align:center;
}
#navigation {
    border-spacing: 40px 5px;
}