#headerh1 {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
#footeraddress {
    text-align:center;
}
#footerphone {
    text-align:center;
}
#navigation {
    border-spacing: 40px 5px;
}
#navigation a:link {
    color: blue;
}
#navigation a:visited {
    color: darkslategray;
}
#navigation a:hover {
    color: blue;
    font-weight: bold;
}
#navigation a:active {
    color:blue;
    text-decoration: none;
}